.header {
    position: absolute;
    height: 9%;
    left: 0;
    top: 0;
    width: 100%;
    color: white;
    border-bottom: 1px solid white;
    }
.headerImg {
    position: relative; 
    float: left; 
    }
.headerTit {
    position: relative; 
    float: left; 
    color: #ecf9ec;
    font-family: Verdana;
    }
.back {
    top: 9%;
    left: 0;
    background-position: -80px;
    background-repeat: no-repeat;
    background-image: url("../img/ucg.png");
    position: absolute;
    height: 91%;
    width: 100%;
    }
.cont {
    background-color: #d9f2d9; /* 90% */
    border-radius: 4px;
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
    }    
.contInicio {
    text-align: left;
    max-width: 300px;
    height: 40px;
    margin: 10px;
    }    
.contTot {
    position: relative;
    float: left;
    max-width: 300px;
    height: 120px;
    margin: 10px;
    margin-top: 0px;
    }
.contTit {
    position: relative;
    float: left;
    text-align: left;
    width: 250px;
    height: 20px;
    }
.contAlta {
    position: relative;
    text-align: left;
    width: 300px;
    height: 60%;
    margin: 10px;
    margin-top: 0px;
    overflow: hidden;
    overflow-x: hidden;
    }
.contAltaScroll {
    max-width: 600px;
    overflow-x: hidden;
    }            
/* width */
.contAltaScroll::-webkit-scrollbar {
    height: 10px;
    border-radius: 4px;
    }
/* Track */
.contAltaScroll::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 4px;
    }
/* Handle */
.contAltaScroll::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
    }                      
.contTabla {
    margin: 10px;
    width: 1000px;
    }
.contTablaScroll {
    max-width: 1200px;
    overflow-y: hidden;
    }            
/* width */
.contTablaScroll::-webkit-scrollbar {
    height: 10px;
    border-radius: 4px;
    }
/* Track */
.contTablaScroll::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 4px;
    }
/* Handle */
.contTablaScroll::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
    }                  
.imgIni {
    position: relative;
    float: left;
    margin-left: 12px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    }
.footer {
    height: 6%;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    }
.p  {
    font-family: verdana;
    font-size: 10px;
    margin: 5px;
    }
.pTotTit  {
    position: absolute;
    width: 200px;
    }
.pTotDat  {
    position: absolute;
    left: 130px;
    font-weight: bold;
    }
    