.header {
    position: absolute;
    height: 9%;
    left: 0;
    top: 0;
    width: 100%;
    color: white;
    border-bottom: 1px solid white;
    }
.headerImg {
    position: relative; 
    float: left; 
    height: 40px; 
    width: 40px; 
    margin: 8px;
    }
.headerTit {
    position: relative; 
    float: left; 
    border: 10px;
    color: #ecf9ec;
    font-family: Verdana;
    font-size: 22px;
    }
.back {
    top: 9%;
    left: 0;
    background-position: -80px;
    background-repeat: no-repeat;
    background-image: url("../img/ucg.png");
    position: absolute;
    height: 91%;
    width: 100%;
    }
.cont {
    background-color: #d9f2d9; /* 90% */
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    }    
.contInicio {
    text-align: left;
    max-width: 340px;
    height: 40px;
    margin: 10px;
    }    
.contTot {
    position: relative;
    float: left;
    max-width: 340px;
    height: 120px;
    margin: 10px;
    margin-top: 0px;
    }
.contTit {
    position: relative;
    float: left;
    text-align: left;
    width: 250px;
    height: 20px;
    }
.contAlta {
    position: relative;
    float: left;
    text-align: left;
    width: 100%;
    max-width: 340px;
    max-height: 60%;
    margin: 10px;
    margin-top: 0px;
    }
.datAlta {
    width: 100%;
    max-height: 200px;
    margin-bottom: 10px;
    overflow: scroll;
    overflow-x: hidden;
    }
    /* width */
.datAlta::-webkit-scrollbar {
    width: 10px;
    border-radius: 4px;
    }
/* Track */
.datAlta::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
    }
/* Handle */
.datAlta::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
    }  
.contTabla {
    margin: 10px;
    max-width: 1120px;
    }            
.imgIni {
    position: relative;
    float: left;
    margin-left: 12px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    }
.footer {
    height: 6%;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    }
.button {
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
     transition-duration: 0.4s;
    }
.button1 {
    height: 40px;
    width: 96%;
    }
.button2 {
    height: 150px;
    width: 150px;
    }
.button1:hover {
    background-color: #D0D3D4; /* 50% */
    color: #eee;
    }
.button2:hover {
    background-color: #D0D3D4; /* 50% */
    color: #eee;
    }
.p  {
    font-family: verdana;
    font-size: 10px;
    margin: 5px;
    }
.pTotTit  {
    position: absolute;
    width: 200px;
    }
.pTotDat  {
    position: absolute;
    left: 130px;
    font-weight: bold;
    }
    