p {
  margin: 4px;
  font-family: verdana;

}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}
.myInput {
    border: 1px solid #5DADE2;
    padding-top: 6px;
    padding-left: 4px;
    border-radius: 4px;
    margin: 2px 2px;
}
.myInput-P {
    color: #909497;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}
.myInput-PErr {
  color: red;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}
.myInput-PMsg {
  color:#5DADE2;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}
.myInput:focus + .myInput-P{  
    color: #909497;
    margin-top: -4px; 
    font-size: 0.6em;  
}
.fijar {
  color: #909497;                                        
  margin-top: -4px;                           
  font-size: 0.6em;                          
}
.myInput-Img {
  cursor: pointer;
}
